@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";
@import "tw-animate-css";

/* Icons */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



:root {
  /* Set Font */
  font-family: 'Poppins', sans-serif;

  /* Color Variable */
  --light-blue: #3676FF;
  --light-gray: #B5B5B5;
  --dark-gray : #363434;
  --gray: #1D1D1D;
  --dark-gray : #262626;
  --green: #AAFF68;
  --light-green: #CCFFA4;

}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px !important; /* ✅ gunakan CSS biasa */
  color: white; /* contoh jika ingin ganti warna */
}
